.forms-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forms-container h2 {
  color: #7B7B7B !important;
  font-size: 40px;
  margin-bottom: 20px;
}

.forms-container p {
  color: #7B7B7B;
  font-size: 17px;
  margin-bottom: 0px;
}

.registration-button-container {
  margin-top: 40px;
}

.contactTypeButton {
  text-transform: uppercase;
  padding: 15px 45px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
  font-size: 13px;
  border-color: #41B4E7;
  color: #41B4E7;
  cursor: pointer;
  outline: none !important;
}

.contactTypeButton.active {
  color: white !important;
  border: none;
  outline: none;
  /* Gradient background  */
  background: rgba(65,181,231,1);
  background: -moz-linear-gradient(-45deg, rgba(65,181,231,1) 0%, rgba(15,142,219,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(65,181,231,1)), color-stop(100%, rgba(15,142,219,1)));
  background: -webkit-linear-gradient(-45deg, rgba(65,181,231,1) 0%, rgba(15,142,219,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(65,181,231,1) 0%, rgba(15,142,219,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(65,181,231,1) 0%, rgba(15,142,219,1) 100%);
  background: linear-gradient(135deg, rgba(65,181,231,1) 0%, rgba(15,142,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b5e7', endColorstr='#0f8edb', GradientType=1 );
}
